* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] {
   padding: 4px;
   border-radius: 0;
   border: 1px solid #ccc;
   outline: none;
   margin: 5px;
}

button {
   background-color: rgb(239, 239, 239);
   border: 1px solid #ccc;
   line-height: 20px;
   margin: 4px;
   padding: 4px 8px;
   outline: none;
   
   &:hover {
      background-color: rgb(219, 219, 219);
      cursor: pointer;
   }
}

textarea {
   margin: 4px;
   padding: 8px;
   outline: none;
   resize: none;
}